body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #45a049;
}

hr {
  width: 80%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #f4f4f4;
  }

  button {
    background-color: #45a049;
    color: #333;
  }

  button:hover {
    background-color: #4caf50;
  }
}
